# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

lab1/lab1_assignment1/.RData
lab1/lab1_assignment1/.Rhistory
lab1/lab1_assignment1/.Rproj.user/
lab1/lab1_assignment2/.RData
lab1/lab1_assignment2/.Rhistory
lab1/lab1_assignment2/.Rproj.user/
lab2/Computer lab 2.pdf
lab2/assignment1.R
lab2/assignment2/.RData
lab2/assignment2/.Rhistory
lab2/assignment2/.Rproj.user/
lab2/assignment2/creditscoring.xls
lab2/assignment3/.RData
lab2/assignment3/.Rhistory
lab2/assignment3/.Rproj.user/
lab2/assignment3/NIRSpectra.csv
lab2/assignment4/.Rhistory
lab2/assignment4/.Rproj.user/
lab3/.Rhistory
lab3/.Rproj.user/
